.center {
	width: 90%;
	margin: 0 auto;
}
label {
	display: block;
	width:100%;
	margin-bottom: 5px;
}
label input{
	text-align: right;
}
button {
	display: block;
	width: 100%;
	height: 60px;
}

#display-dir,
#display-process, 
#display-error {
	white-space: pre;
	width:100%;
	min-height: 2em;
}
#display-error {
	color: red;
}